/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../../fonts/raleway-regular.eot');
    src: url('../../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/raleway-regular.woff') format('woff'),
         url('../../fonts/raleway-regular.ttf') format('truetype'),
         url('../../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../../fonts/raleway-semibold.eot');
    src: url('../../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/raleway-semibold.woff') format('woff'),
         url('../../fonts/raleway-semibold.ttf') format('truetype'),
         url('../../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('../../fonts/raleway-bold.eot');
    src: url('../../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/raleway-bold.woff') format('woff'),
         url('../../fonts/raleway-bold.ttf') format('truetype'),
         url('../../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");


/*  General CSS*/
body,
html {
  left: 0;
  top: 0;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  color: #2f2f2f;
  font-size: 16px;
  line-height: 1.7;
  background-color: #fff;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


/*    Billboard    */
.billboard{
    width: 100%;
    height: 690px;
    position: relative;
}

.billboard.dark{
    background: url('../../images/1579626280_16-p-minimalistichnie-foni-s-rasteniyami-40.jpg') no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../../images/shadow.png') repeat-x;
}

.billboard .caption{
    margin-top: 130px;
    text-align: center;
}

.billboard .caption.light{
    color: rgb(255, 255, 255);
}


.billboard .caption h1{
    font-family: "raleway-bold";
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.billboard .caption.light h1{
    color: rgb(122, 47, 47);
}


.billboard .caption p{
    font-family: "raleway-regular";
    font-size: 18px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: rgb(0, 0, 0);
}


.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}



/*    header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    margin-top: 50px;
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "raleway-regular";
    font-size: 19px;
    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: rgb(24, 0, 0);
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

/*    Services    */
.services ul{
    margin-top: 100px;
}

.services ul li{
    list-style: none;
    display: block;
    width: 100px;
    float: left;
    margin-left: 400px;
    text-align: center;
}


.services ul li:first-child{
    margin-left: 0;
}

.services ul li .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #f6f6f6;
    margin: 20px auto;
}

.services ul li h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.services ul li p{
   color: #838181;
    font-family: "raleway-regular";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
}


/*    Video    */
.video{
    display: block;
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 100px;
    background: url('../../images/1579626280_16-p-minimalistichnie-foni-s-rasteniyami-40.jpg') no-repeat;    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.video h3{
    color: rgb(143, 5, 5);
    font-family: "raleway-regular";
    font-size: 19px;
    font-weight: normal!important;
    margin: 40px 0 0 0;
    padding-top: 90px;
}

.video #play_btn{
    display: inline-block;
    margin-top: 40px;
}

.title{
    text-align: center;
    overflow: hidden;
}

.title h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.title h3{
    color: #9b9b9b;
    font-family: "raleway-regular";
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal!important;
}

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
}



/*    testimonials    */
.testimonials{
    margin-top: 100px;
}

.testimonials ul{
    margin-top: 70px;
    list-style: none;
}

.testimonials ul li{
    display: block;
    float: left;
    margin-left: 80px;
    width: 313px;
}

.testimonials ul li:first-child{
    margin-left: 0;
}

.testimonials ul li .quotes{
    margin-right: 10px;
}

.testimonials ul li p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: relative;
}


.personal_area{
    background: white;
    width: 50px;
    height: 100%;
    position: fixed;
    margin-top: 0;
    margin-right: 0;
    display: flex;
}

/* Icons */

.icon {
    text-decoration: none;
    text-align: right;
    size: 20px;
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
        text-overflow: initial;
        font-size: 17px;
    }

    .icon:before {
        line-height: 2;
    }

    .icon > .label {
        display: none;
    }

    .icon.solid:before {
        font-weight: 900;
    }

    .icon.brands:before {
        font-family: 'Font Awesome 5 Brands';
    }