/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../../fonts/raleway-regular.eot');
    src: url('../../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/raleway-regular.woff') format('woff'),
         url('../../fonts/raleway-regular.ttf') format('truetype'),
         url('../../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../../fonts/raleway-semibold.eot');
    src: url('../../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/raleway-semibold.woff') format('woff'),
         url('../../fonts/raleway-semibold.ttf') format('truetype'),
         url('../../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('../../fonts/raleway-bold.eot');
    src: url('../../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/raleway-bold.woff') format('woff'),
         url('../../fonts/raleway-bold.ttf') format('truetype'),
         url('../../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Glyphicons Halflings';
  
	src: url('../../fonts/glyphicons-halflings-regular.eot');
	src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

html {
	font-family: 'lyphicons-halflings-regular';
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

  body {
	background: linear-gradient(to right,rgb(255, 238, 211), rgb(211, 165, 207)) no-repeat 0 0 /cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 96.5vh;
	margin: -20px 0 50px;
	font-family: 'lyphicons-halflings-regular';
  }
  


  h3{
	font-family: inherit;
	font-weight: 500;
	line-height: 2.1;
	color: inherit;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 24px;
  }
  
  
	h1{
	color: #060020;
	font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
	margin: 0 0 80px 0;
	}


  small {
	font-size: 80%;
  }
  
  img {
	border: 0;
	border-radius: 2px;
  }

  * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }
  *:before,
  *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }

  
  img {
	vertical-align: middle;
  }
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
  }
  
  .container {
  
	margin-right: auto;
	margin-left: auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0,0 ,0.25 ), 0 10px 10px rgba(0, 0,0 ,0.22 );
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 350px;
	padding: 80px 40px;
  }
  @media (min-width: 768px) {
	.container {
	  width: 750px;
	}
  }
  @media (min-width: 992px) {
	.container {
	  width: 970px;
	}
  }
  @media (min-width: 1230px) {
	.container {
	  width: 1200px;
	}
  }
  
  .row {
	margin-right: -15px;
	margin-left: -15px;
  }
  .col-sm-4{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
  }
  
  @media (min-width: 768px) {
	.col-sm-4 {
	  width: 33.33333333%;
	  float: left;
	}
  }
  
  .fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
			transition: opacity .15s linear;
  }
  .fade.in {
	opacity: 1;
  }
  
  
	#status img {
	  text-align: center;
	  margin-top: -80px;
	}
  
   .pretty .img-responsive{
	  transition-duration: 0.5s;
   }
  
  .pretty .gall a:hover .img-responsive{
	  opacity:0.45;
	  transition-duration: 0.5s;
  }
  
  .pretty .plS{
	  display: block;
  }
  .view h3{
	  margin-bottom: 5px;
	  text-align:center;
	  margin-left: -14px;
	  margin-top: 12px;
  }
  .view a{
	  text-decoration:none;
	  color:#2f2f2f;
	  font-size: 16px;
	  text-align:center;
	  font-family: 'Roboto', 'sans-serif';
	  font-weight: 300;
  }
  .view li{
	  display:inline-block;
	  height:40px;
	  background:none;
	  text-decoration:none;
	  color:#ffffff;
	  font-size: 13px;
	  text-align:center;
	  font-family: 'Roboto', 'sans-serif';
	  font-weight: 300;
  }
  .view a:hover{
	  color:#794869;
  }
  .view ul{
	  display:block !important;
	  margin-top: 7px;
	  margin-bottom:25px;
	  text-align: center;
	  padding-left: 0;
  }
  .view ul i{
	  margin-right: 5px;
	  font-style:normal;
	  display:inline-block;
	  font-family: FontAwesome;
	  font-size:13px;
	  color:#a9a9a9;
  }
  .view ul li{
	  margin-right: 12px;
	  text-align:center;
	  display: inline-block;
	  background: none;
	  box-shadow: none;
	  list-style:none;
  }