/<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/start-page.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <title>Start page</title>
</head>
<body>

    <section class="billboard dark">
		<header class="wrapper light">
		</header>

		<div class="caption light animated wow fadeInDown clearfix">
			<h1>Персональные настройки</h1>
			<p>Введите название и описание квеста. Выберите шрифты</p>
			<hr>
		</div>
		<div class="shadow"></div>
	</section><!--  End billboard  -->

    <div class="main" align="center">
        <h2>Название квеста : </h2>
        <input type="text" id="name" placeholder="Name" />

        <h2>Описание квеста : </h2>
        <textarea name="description" placeholder="Описание" cols="40" rows="7"></textarea>

        <section class="services wrapper">
            <ul class="clearfix">
                <li class="animated wow fadeInDown">
                    <img class="icon" src="/images/Times-1200-1.jpg" alt=""/>
                    <span class="separator"></span>
                    <button class="ghost" onclick="window.location.href='/Times New Roman/styles.html'">Выбрать шрифт</button>
                </li>
                <li class="animated wow fadeInDown"  data-wow-delay=".2s">
                    <img class="icon" src="/images/2000px-Arial_font.svg_.jpg" alt="" height="20px"/>
                    <span class="separator"></span>
                    <button class="ghost" onclick="window.location.href='/Arial/styles.html'">Выбрать шрифт</button>
                </li>
                <li class="animated wow fadeInDown"  data-wow-delay=".4s">
                    <img class="icon" src="/images/lc.png" alt="" width="180px"/>
                    <span class="separator"></span>
                    <button class="ghost" onclick="window.location.href='/Lucida Console/styles.html'">Выбрать шрифт</button>
                </li>
            </ul>
        </section><!--  End services  -->
    </div>
    <script src="/assets/js/add_name.js"></script>
</body>
</html>