<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Background</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">	
		
	</head>
	<body>
    
    <!--project start-->    
    <div id="project">    
		
		<div id="title">
			<h1 align="center"> Выберите цветовое оформление</h1>
		</div>
    
    
       <div class="container">
		
		<div class="row">
			<div class="portfolio_block columns3 pretty" data-animated="fadeIn">	
					<div class="element col-sm-4   gall branding">
						<a class="plS" href="page.html">
							<img class="img-responsive picsGall" src="/images/ficon1.jpg" width="356" height="276" />
						</a>
					</div>
					<div class="element col-sm-4  gall branding">
						<a class="plS" href="page.html">
							<img class="img-responsive picsGall" src="/images/ficon2.png" width="356" height="276"/>
						</a>
					</div>
					<div class="element col-sm-4  gall web">
						<a class="plS" href="page.html">
							<img class="img-responsive picsGall" src="/images/ficon3.png" width="356" height="276"/>
						</a>
					</div>		
				</div>
			</div>
			
		</div>
    </div>    
    

		
		
	<script src="/assets/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.slicknav.js"></script>


	</body>
	
</html>